@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cairo Murphy Home Page";
}



<!--This program completes Mission 2 getting familiar with building a simple web framework using netcore and c#-->
<h1>My preferred name is Cairo</h1>
<h3>Me scuba diving in Tulum, Mexico</h3>
<img class="resize_image" src="img/IMG-0079.JPG" />
<p>
    I hope to get a solid grasp over ASP.NET core frameworks and C#. My job uses .Net frameworks in their backend monolith. As you see below I want to pursue software development
    , so hopefully I get really good over the course of the semester. I also really like Professor Spencer Hilton, so I will continue taking the class :)
</p>
<br />
<br />
<br />
<br />

<h3 class="align-left">Top 3 jobs that I am pursuing upon graduation</h3>
<ol>
    <li>Software Development</li>
    <li>Product Management</li>
    <li>Data Scientist</li>
</ol>
<br />
<br />
<br />
<br />

